<form [formGroup]="form" (ngSubmit)="saveProduct($event)">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Producto</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col-xd">
          <mat-form-field>
            <input placeholder="title" formControlName="title" matInput type="text">
          </mat-form-field>
        </div>
        <div class="col-xd">
          <mat-form-field>
            <input placeholder="price" formControlName="price" matInput type="number">
          </mat-form-field>
          <div *ngIf="priceField.errors && form.get('price').dirty">
            <p *ngIf="priceField.hasError('price_invalid')">No debe superar los $10,000</p>
            <p *ngIf="priceField.hasError('required')">El campo es requerido</p>
          </div>
        </div>
        <div class="col-xd">
              <!--   <mat-form-field>
        <input formControlName="image" matInput type="text">
      </mat-form-field> -->
        </div>
        <div class="col-xd">
          <mat-form-field>
            <textarea placeholder="description" formControlName="description" matInput></textarea>
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button [disabled]="form.invalid" mat-raised-button type="submit" >Guardar</button>
    </mat-card-actions>
  </mat-card>
</form>

