/* You can add global styles to this file, and also import other style files */
@import 'swiper/swiper-bundle.css';
/* body {
  margin: 0;
  padding: 0;
} */

.product-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 50px 20px;
}

.container {
  width: 100%;
  padding-right: 0;
  padding-left: 0;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .product-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .container {
    max-width: 1110px;
    padding-right: 16px;
    padding-left: 16px;
  }
}
@media (min-width: 1024px) {
  .product-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 2560px) {
  .product-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
  }
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
